@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <div class="row">
        <h1>Title</h1>

        <h4>Headings -> titles displayed on the page, 6 levels - h1,h1,...,h6 -> the higher the level, the less prominent the heading</h4>

        <p>p element makes all text inside it a distinct paragraph.</p>

        <ul>
            <li>Wrapping inside "ul" tag tells browser that whatever is inside should be rendered as an unordered list</li>
            <li>To denote particular element, wrap them in "li" tags</li>
            <li>Strict rule -> "ul" element shoul only contain "li" elements</li>
        </ul>

        <ol>
            <li>"ol" tag for ordered list</li>
            <li>Each element is also "li", but numbers increment on their own</li>
        </ol>

        <p>Above -> block eleemnts, below -> inline elements</p>
        <p><em>Here is</em> italic inline element</p>
        <p><strong>Here is</strong> inline tag for bold text</p>
        <p><em><strong>Italic and bold!!</strong></em></p>
        @*<p><em>Check the order of tags</p></em>*@

        <p>Here is the <br />line break, using "br" tag, that is emty(self-closing)</p>
        <p>Here is the horisontal rule, that represents a thematic break (also empty):</p>
        <hr />

        <p>Ypu can also use empty tags <br>without slash</p>
        <hr>

        <a href='google.com'>Another page</a>

        <h1>Css Selectors</h1>

        <p class="synopsis">
            CSS selectors let you <em>select</em> individual HTML elements in an HTML
            document. This is <strong>super</strong> useful.
        </p>

        <p>
            Classes are ridiculously important, since they allow you to select
            arbitrary boxes in your web pages.
        </p>

        <div class="button"><a href='google.com'>Button One</a></div>
        <div class="button">
            <a href='google.com'>Button Two</a> @*Reusing class styles*@
        </div>
        <div  class="call-to button">
            <a href='google.com'>Button Three</a> @*Modifying class styles -> multipple classes*@
        </div>
        @*ORDER IN STYLESHEET MATTERS -> when two confluicting styles, last one applies. Order in html does not matter *@

<p id="button-3">Last of type p</p>

    </div>

</div>
