body { /*Selector, which defines which html elements it refers to*/
    color: #110000;
    background-color: #EEEEEE; 
}

h1 {
    font-size: 36px; /*selecting different elements*/
}

h2 {
    font-size: 2em; /*unit of measurement*/
}

h1, h2, h3 { /*selecting multiple elements*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
    text-align: left; /*defines alignement of text*/
}


/*CSS SELECTORS*/
.synopsis { /*this rule is applied only to the classes synopsis, dot(.) prefix! */
    color: #7E8184; /*class canbe used on any element*/
    font-style: italic;
}

.button {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}

.page {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.call-to {
    font-style: italic;
    background-color: #EEB75A;
}

h4 {
    font-style: italic;
}

/*DESCENDANT SELECTORS*/
/*let you target only those elements that are inside of another element; can combine any types of selectors*/
.synopsis em {
    font-style: normal;
}


/*PSEUDO-CLASSES FOR LINKS*/
a:link { /*link that has never been visited*/
    /*color: blue;*/
}

a:visited { /*link that has been visited*/
    /*color: purple;*/
}

a:hover { /*user's mouse hovering over it*/
    /*color: aqua;*/
}

a:active { /*link pressed*/
    /*color: red;*/
}

a:visited:hover { /*both visited and hover*/
    /*color: orange;*/
}


/*PSEUDO-CLASSES FOR STRUCTURE*/
/*selects the last element of type in its parent element*/
p:last-of-type {
    margin-bottom: 50px;
}

/*selects only first p in class=page*/
.page > p:first-of-type {
    color: #7E8184;
    font-style: italic;
}

/*ID SELECTORS*/
#button-3 {
    color:darkgreen;
}


/*BOX MODEL!!!!!!!!!!!!*/
#h1, #p1, #p2 { /* Block boxes; width -> based on parent, mostly entire window */
    background-color: #DDE0E3; /* Light gray */
}

#e1, #s1 { /* Inline boxes; width -> based on content */
    background-color: #B2D6FF; /* Light blue */
}

#e2, #s2 {
    background-color: #B2D6FF; /* Light blue */
    display: block; /* Override the default box type */
}

/*Content – The text, image, or other media content in the element.
Padding – The space between the box’s content and its border.
Border – The line between the box’s padding and margin.
Margin – The space between the box and surrounding boxes.*/

#p4 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#p5 {
    padding: 20px 0 20px 10px; /* Top  Right  Bottom  Left */
}

#p6 {
    border: 1px solid #5D6063; /*stroke width, style, color*/
}

#p7 {
    border-bottom: dashed;
    border-top: 1px solid red;
}

#p7 { /*space outside elements border*/
    margin-bottom: 50px; /* Add this */
} /*Inline boxes completely ignore the top and bottom margins*/

/*It’s usually a good idea to override default styles to a predictable value using the “universal” CSS selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}