@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTAOwrzsZXW9DhtXv9QUJksxwzm3Lg5HS08cHt4BPVSVHjTSan0EVuhLSs2vz9aINLhrWBffQmx2BoA/embed?start=false&loop=false&delayms=3000"
                frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vStbievz557V9CdVk4TuVt2pSDey7L3X6qK2gFJ0DCZm_h93wzxRkJpagywWvhkLD-YTVTMlTxmQePH/embed?start=false&loop=false&delayms=3000"
               frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" width="640" height="480"></iframe>
    </div>
